html {
  font-size: 18px;
}

body {
    max-width: 960px;
}

header {
  background-color: black;
  display: block;
  color: white;
}

header span {
  font-family: Helvetica;
  font-size: 1rem;
  padding: 0.66rem 0.5rem;
  text-transform: uppercase;
}

header img {
  height: 1.5rem;
  padding: 0 0.5rem;
}

.arrivals {
  background-color: black;
}

.arrivals h5 {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  padding: 2rem, 0, 0.25rem, 3rem;
}

.arrivals h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
}

.arrivals h1, h5 {
  background-color: black;
  color: white;
}

.container {
  height: 25rem;
  width: auto;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 960px;
}

.container nav {
  background-color: firebrick;
  display: block;
  text-align: center;
}

nav ul {
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
  list-style: none;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
}

section div {
  margin: 3rem 0 0 0;
  justify-content: space-between;
}

section h3 {
  background-color: black;
  color: white;
  text-align: center;

}
.pen {
  align-items: center;
  border: 4px solid black;
  height: 9rem;
  width: 30%;
  padding: 2rem, auto;
}

.watch {
  align-items: center;
  border: 4px solid black;
  height: 9rem;
  width: 30%;
  padding: 2rem, auto;
}

 .glasses {
   align-items: center;
   border: 4px solid black;
   height: 9rem;
   width: 30%;
   padding: 2rem, auto;
 }

 section img {
   display: flex;
   height: 9rem;
   max-width: 8rem;
   align-items: center;
 }

.data {
  width: 35%;
  display: inline-block;
}

.input {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}

 footer {
    background-color: black;
    color: white;
    padding: 5em 0;
    margin-top: 4em;
}
