html {
  font-size: 18px;
}

body {
    max-width: 960px;
}

header {
  background-color: black;
  display: block;
  color: white;
}

header span {
  font-family: Helvetica;
  font-size: 1rem;
  padding: 0.66rem 0.5rem;
  text-transform: uppercase;
}

header img {
  height: 1.5rem;
  padding: 0 0.5rem;
}

.arrivals {
  background-color: black;
}

.arrivals h5 {
  font-family: Helvetica;
  font-size: 1rem;
  font-weight: bold;
  padding: 2rem, 0, 0.25rem, 3rem;
}

.arrivals h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
}

.arrivals h1, h5 {
  background-color: black;
  color: white;
}

.container {
  height: 25rem;
  width: auto;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.container nav {
  background-color: firebrick;
  display: block;
  text-align: center;
  width: 960px;
}

nav li {
  justify-content: space-between;
  list-style: none;
  display: inline;
  color: white;
  padding: 2rem;
  font-family: Helvetica;
}

nav a {
  color: white;
  text-decoration: none;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
}

section div {
  width: 30%;
}

.pen img, .watch img, .glasses img {
  border: 4px solid black;
  height: 9rem;
  width: auto;
  padding: 2rem, auto;
}
